<div class="page-header">
  <h1>Login</h1>
</div>

<%= flash_notice %>

<%= form_tag({:action => "create"}, :class => 'well') do %>
<label for="email">Email</label>
<%= text_field_tag :email, params[:email], :class => "short" %>
<label for="password">Password</label>
<%= password_field_tag :password, params[:password], :class => 'span3' %>
<br><%= submit_tag "Login", :class => 'btn btn-primary' %>

<% end %>

<p><%= link_to "Forgotten your password?", :controller => 'users', :action => 'forgot_password' %></p>
