<% @timesheet_entries.each do |e| -%>
    <tr<%= ' class="success"'.html_safe if e.chargeable? %>>
      <td><%= link_to e.organisation.name, e.organisation %></td>
      <td><%= e.started_at.strftime("%A %-d&nbsp;%b&nbsp;'%y").html_safe %></td>
      <td><%= e.description %></td>
      <td class="numeric"><%= number_to_currency(e.invoice_value, unit: '£') %></td>
      <td class="numeric"><%= e.minutes %>m</td>
<% if e.user -%>
      <td><%= link_to e.user.name, e.user %></td>
<% else -%>
      <td>Unknown</td>
<% end -%>
      <td>
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right">
            <li><%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_timesheet_entry_path(e) %></li>
            <li><%= link_to '<i class="icon-trash"></i> Delete'.html_safe, e, data: { method: 'delete', confirm: 'Are you sure?' } %></li>
          </ul>
        </div>
      </td>
    </tr>
<% end -%>
    <tr id="more-entries-placeholder">
      <td colspan="7" style="text-align: center;">
<% if @timesheet_entries.empty? -%>
        <p>There are no more entries.</p>
<% else -%>
        <%= form_tag({ action: 'more_timesheet_entries' }) do %>
          <input type="hidden" name="offset" value="<%= @offset %>">
<% if @organisation -%>
          <input type="hidden" name="id" value="<%= @organisation.id %>">
<% end -%>
          <input type="submit" class="btn" value="More">
        <% end %>
<% end -%>
      </td>
    </tr>
