<% cache(member, expires_in: (Time.now.tomorrow.midnight - Time.now)) do -%>
<tr>
  <td><%= member.name %></td>
  <td class="numeric">
    <%= number_to_currency(amount_invoiced_by(member, 28), unit: '£', precision: 0) %>
    <small>
      (<%= number_to_currency(amount_invoiced_by(member, 28, 1), unit: '£', precision: 0) %> +
      <%= number_to_currency(amount_invoiced_by(member, 28, 0), unit: '£', precision: 0) %>)
    </small>
  </td>
  <td class="numeric">
    <%= number_to_currency(amount_invoiced_by(member, 91), unit: '£', precision: 0) %>
    <small>
      (<%= number_to_currency(amount_invoiced_by(member, 91, 1), unit: '£', precision: 0) %> +
      <%= number_to_currency(amount_invoiced_by(member, 91, 0), unit: '£', precision: 0) %>)
    </small>
  </td>
  <td>
    <small>
      <%= hours_logged_this_week_by(member) %>
    </small>
  </td>
  <td>
    <%= member.hours_logged_to_date(27) %>
  </td>
  <td>
    <%= member.hours_logged_to_date(69) %>
  </td>
  <td>
    <%= member.hours_logged_to_date(364) %>
  </td>
</tr>
<% end -%>
