<div class="page-header">
  <h1>Timesheet</h1>
</div>

<h2>Totals logged by person</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Who</th>
      <th>28 days</th>
      <th>13 weeks</th>
      <th>Hours logged this week</th>
      <th>28-day hours</th>
    </tr>
  </thead>
  <tbody>
<% @staff.each do |member| -%>
    <tr>
      <td><%= member.name %></td>
      <td class="numeric">
        <%= number_to_currency(amount_invoiced_by(member, 28), unit: '£') %>
        <small>
          (<%= number_to_currency(amount_invoiced_by(member, 28, 1), unit: '£') %> +
          <%= number_to_currency(amount_invoiced_by(member, 29, 0), unit: '£') %>)
        </small>
      </td>
      <td class="numeric">
        <%= number_to_currency(amount_invoiced_by(member, 91), unit: '£') %>
        <small>
          (<%= number_to_currency(amount_invoiced_by(member, 28, 1), unit: '£') %> +
          <%= number_to_currency(amount_invoiced_by(member, 28, 0), unit: '£') %>)
        </small>
      </td>
      <td>
        <small>
          <%= hours_logged_this_week_by(member) %>
        </small>
      </td>
      <td>
        <%= member.hours_logged_to_date(28) %>
      </td>
    </tr>
<% end -%>
  </tbody>
</table>

<h2>Recent entries</h2>
<%= render 'table' %>
