<script>function filterTimesheet() {}</script>

<% cache TimesheetEntry.order('updated_at DESC').first, expires_in: (Time.now.tomorrow.midnight - Time.now) do -%>
<div class="page-header">
  <h1>Timesheet</h1>
</div>

<%= link_to t('.report'), report_timesheet_entries_path, class: 'btn btn-default' %>

<h2>Totals logged by person</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Who</th>
      <th>28 days</th>
      <th>13 weeks</th>
      <th>Hours logged this week</th>
      <th>28d</th>
      <th>10w</th>
      <th>52w</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'member', collection: @staff %>
    <tr>
      <td>Totals</td>
      <td class="numeric">
        <%= number_to_currency(amount_invoiced_by(@staff, 28), unit: '£', precision: 0) %>
        <small>
          (<%= number_to_currency(amount_invoiced_by(@staff, 28, 1), unit: '£', precision: 0) %> +
          <%= number_to_currency(amount_invoiced_by(@staff, 28, 0), unit: '£', precision: 0) %>)
        </small>
      </td>
      <td class="numeric">
        <%= number_to_currency(amount_invoiced_by(@staff, 91), unit: '£', precision: 0) %>
        <small>
          (<%= number_to_currency(amount_invoiced_by(@staff, 91, 1), unit: '£', precision: 0) %> +
          <%= number_to_currency(amount_invoiced_by(@staff, 91, 0), unit: '£', precision: 0) %>)
        </small>
      </td>
    </tr>
    <tr>
      <td>Targets</td>
      <td class="numeric">£7,000</td>
      <td class="numeric">£22,500</td>
    </tr>
  </tbody>
</table>

<h2>Recent entries</h2>
<%= render 'table' %>
<% end -%>
