<%= form_tag controller: 'issues', action: 'update_multiple' do %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="del">X</th>
        <th>For</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Assigned&nbsp;To</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
<% issues.each do |issue| -%>
      <tr>
        <td><input type="checkbox" name="id[<%= issue.id %>]"></td>
        <td><%= link_to issue.organisation.name, issue.organisation %></td>
        <td>
          <%= completed_label if issue.completed? %>
          <%= link_to issue, issue %>
        </td>
        <td><%= priority_icon(issue.priority) %></td>
        <td><%= issue.assignee.name %></td>
        <td><%= issue.created_at.to_date %></td>
        <td><%= issue.updated_at.to_date %></td>
      </tr>
<% end -%>
    </tbody>
  </table>
  <% if admin? %>
    <%= submit_tag 'Delete Selected', class: 'btn', data: {confirm: 'Are you sure?'} %>
    <%= submit_tag 'Mark Selected as Complete', class: 'btn' %>
  <% end %>
<% end %>
