<% if @organisation.errors.any? -%>
<div class="alert alert-error fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h2><%= pluralize(@organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>

  <ul>
<% @organisation.errors.full_messages.each do |msg| -%>
    <li><%= msg %></li>
<% end -%>
  </ul>
</div>
<% end -%>

<%= form_for @organisation do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <fieldset>
    <legend>On stop?</legend>
    <label class="radio">
      <%= form.radio_button :on_stop, true %>
      Yes
    </label>
    <label class="radio">
      <%= form.radio_button :on_stop, false %> 
      No
    </label>
  </fieldset>

  <br><%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
