<% cache Organisation.order('updated_at DESC').first do -%>

<%= page_header('Organisations') %>
<p>
  <%= add_button(Organisation) %>
  <% if params[:archived] == '1' %>
    <%= link_to t('.show_unarchived'), organisations_path, class: 'btn btn-default' %>
  <% else %>
    <%= link_to t('.show_archived'), '?archived=1', class: 'btn btn-default' %>
  <% end %>
</p>
<%= alpha_links.html_safe %>

<div id="organisations">
<% last_c = '' %>
<% @organisations.each do |o| %>
  <% this_c = o.name[0...1].downcase %>
  <% if this_c != last_c %>
    <% if last_c != '' %>
      </ul>
    <% end %>
  	<% last_c = this_c %>
  	
  	<a name="alphanum<%= this_c %>"></a></li>
  	<h2><%= this_c.upcase %> <a href="#top" class="top">&#8593;</a></h2>
  	<ul>
  <% end %>
  <li><%= link_to o.name, o %></li>
<% end %>
</ul>
</div>
<% end -%>
