<p style="float: right;">
  <%= add_button(Organisation) %>
</p>

<%= page_header('Organisations') %>

<%= alpha_links.html_safe %>

<div id="organisations">
<% last_c = '' %>
<% @organisations.each do |o| %>
  <% this_c = o.name[0...1].downcase %>
  <% if this_c != last_c %>
    <% if last_c != '' %>
      </ul>
    <% end %>
  	<% last_c = this_c %>
  	
  	<a name="alphanum<%= this_c %>"></a></li>
  	<h2><%= this_c.upcase %> <a href="#top" class="top">&#8593;</a></h2>
  	<ul>
  <% end %>
  <li><%= link_to o.name, o %></li>
<% end %>
</ul>
</div>