<h1>New Organisation</h1>
<%= flash_notice %>

<div class="form narrow">
<%= error_messages_for :organisation -%>
<% form_for :organisation, :url => {:action => 'create'} do |form| %>
  <%= form.label :name %>:<br />
  <%= form.text_field :name %><br />
  <%= form.submit 'Add Organisation', :class => 'submit' %>
<% end %>
</div>