<p style="float: right">
  <%= delete_button(@organisation) %>
</p>

<%= page_header(@organisation.name) %>

<p>
  Revenue per hour: <%= number_to_currency(@organisation.revenue_per_hour, unit: '£') %>
  <small>(invoiceable amount/total time over 2yr)</small>
</p>

<p><%= link_to 'I have recently contacted this organisation', contacted_organisation_path, data: { method: 'post' } %></p>

<h2>Users</h2>
<div class="list">
  <ul>
    <% @organisation.users.each do |u| -%>
    <li><%= link_to u.name, u %></li>
    <% end -%>
  </ul>
</div>
<div class="row">
  <div class="span6">
<div class="tab-content">
    <p>
      <%= add_button(new_user_path(organisation_id: @organisation)) %>
    </p>
    <h2>Email addresses</h2>
    <p>
      <%= add_button(new_email_address_path(organisation_id: @organisation)) %>
    </p>
<% unless @organisation.email_addresses.empty? -%>
    <table class="table table-bordered">
    <% @organisation.email_addresses.each do |a| -%>
      <tr>
        <td><%= mail_to a.address, a.address %></td>
        <td>
          <%= edit_button(a) %>
          <%= delete_button(a) %>
        </td>
      </tr>
    <% end -%>
    </table>
<% end -%>
  </div>

  <div class="tab-pane" id="numbers">
    <h2>Contact numbers</h2>
    <p>
      <%= add_button(new_number_path(organisation_id: @organisation)) %>
    </p>
<% unless @organisation.numbers.empty? -%>
    <table class="table table-bordered">
<% @organisation.numbers.each do |number| -%>
      <tr>
        <td><%= number.number %></td>
        <td><%= number.tel_type %></td>
        <td><%= number.note %></td>
        <td>
          <%= edit_button(number) %>
          <%= delete_button(number) %>
        </td>
      </tr>
<% end -%>
    </table>
<% end -%>
  </div>

<h2>Addresses</h2>
<div class="list">
  <ul>
    <% @organisation.addresses.each do |a| -%>
    <li><%= link_to format_address_single_line(a), edit_address_path(a) %></li>
    <% end -%>
  </ul>
</div>
<h2>Domains</h2>
<div class="list">
  <ul>
  <% @organisation.domains.each do |d| -%>
  <li><%= link_to d.name, domain_path(d) %></li>
  <% end -%>
  </ul>
</div>
    <p>
      <%= add_button(new_address_path(organisation_id: @organisation)) %>
    </p>

<h2>Databases</h2>
    <p>
      <%= add_button(new_domain_path(organisation_id: @organisation)) %>
    </p>

<h2>To-do list</h2>

    <p>
      <%= add_button(new_to_do_path(organisation_id: @organisation)) %>
    </p>

<% unless @organisation.to_dos.empty? -%>
<%= render partial: 'to_dos/to_do_list', locals: {to_dos: @organisation.to_dos} %>
<% end -%>

  <div class="tab-pane" id="notes">
    <h2>Note Pads</h2>
    <p>
      <%= add_button(new_note_pad_path(organisation_id: @organisation)) %>
    </p>
<% unless @organisation.note_pads.empty? -%>
    <table class="table table-bordered">
<% @organisation.note_pads.each do |np| -%>
      <tr>
        <td>
          <strong><%= np.title %></strong><br>
          <pre><%= np.content[0..255] %></pre>
        </td>
        <td><%= np.updated_at %></td>
        <td>
          <%= edit_button(np) %>
          <%= delete_button(np) %>
        </td>
      </tr>
<% end -%>
    </table>
<% end -%>
  </div>
</div>
