<script>
$(function() {
  $('.nav-tabs a').on('show', function() {
    $.cookie('organisation-pane', $(this).attr('href'));
  });

  panes = ['#emails', '#numbers', '#addresses', '#domains', '#databases', '#to-dos', '#notes', '#timesheet']

  for(var i = 0; i < panes.length; i++) {
    var id = panes[i];
    if($.cookie('organisation-pane') == id) {
      $('a[href="' + id + '"]').tab('show');
    }
  }
});
</script>


<p style="float: right">
  <%= edit_button(@organisation) %>
  <%= delete_button(@organisation) %>
</p>

<%= page_header(@organisation.name) %>

<p>
  Revenue per hour: <%= number_to_currency(@organisation.revenue_per_hour, unit: '£') %>
  <small>(invoiceable amount/total time over 2yr)</small>
</p>

<p><%= link_to 'I have recently contacted this organisation', contacted_organisation_path, data: { method: 'post' } %></p>

<% if @organisation.on_stop? -%>
<div class="hero-unit">
  <h1>On stop!</h1>
  <p>
    <%= @organisation.name %> is on stop. No new work should be carried out
    for <%= @organisation.name %> without first speaking to John.
  </p>
</div>
<% end -%>

<ul class="nav nav-tabs">
  <li class="active"><a href="#people" data-toggle="tab">People</a></li>
  <li><a href="#emails" data-toggle="tab">Emails</a></li>
  <li><a href="#numbers" data-toggle="tab">Numbers</a></li>
  <li><a href="#addresses" data-toggle="tab">Addresses</a></li>
  <li><a href="#domains" data-toggle="tab">Domains</a></li>
  <li><a href="#databases" data-toggle="tab">Databases</a></li>
  <li><a href="#to-dos" data-toggle="tab">To-dos</a></li>
  <li><a href="#notes" data-toggle="tab">Notes</a></li>
  <li><a href="#timesheet" data-toggle="tab">Timesheet</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="people">
    <h2>People</h2>
    <p>
      <%= add_button(User, organisation_id: @organisation) %>
    </p>
<% unless @organisation.users.empty? -%>
    <table class="table table-bordered">
<% @organisation.users.each do |u| -%>
      <tr>
        <td><%= link_to u.name, u %></td>
        <td>
<%= u.numbers.map {|n| "#{n.teltype}: #{n.number}"}.join(', ') %>
<br>
<%= u.email_addresses.map {|e| mail_to(e.address)}.join(', ').html_safe %>
        </td>
      </tr>
<% end -%>
    </table>
<% end -%>
  </div>

  <div class="tab-pane" id="emails">
    <h2>Email addresses</h2>
    <p>
      <%= add_button(EmailAddress, organisation_id: @organisation) %>
    </p>
<% unless @organisation.email_addresses.empty? -%>
    <table class="table table-bordered">
<% @organisation.email_addresses.each do |a| -%>
      <tr>
        <td>
          <%= mail_to a.address, a.address %>
          <%= '<br>Password: '.html_safe + a.password unless a.password.blank? %>
        </td>
        <td>
          <%= edit_button(a) %>
          <%= delete_button(a) %>
        </td>
      </tr>
<% end -%>
    </table>
<% end -%>
  </div>

  <div class="tab-pane" id="numbers">
    <h2>Contact numbers</h2>
    <p>
      <%= add_button(Number, organisation_id: @organisation) %>
    </p>
<% unless @organisation.numbers.empty? -%>
    <table class="table table-bordered">
<% @organisation.numbers.each do |number| -%>
      <tr>
        <td><%= number.number %></td>
        <td><%= number.teltype %></td>
        <td><%= number.note %></td>
        <td>
          <%= edit_button(number) %>
          <%= delete_button(number) %>
        </td>
      </tr>
<% end -%>
    </table>
<% end -%>
  </div>

  <div class="tab-pane" id="addresses">
    <h2>Addresses</h2>
    <p>
      <%= add_button(Address, organisation_id: @organisation) %>
    </p>
    <table class="table table-bordered">
<% @organisation.addresses.each do |a| -%>
      <tr>
        <td><%= format_address_single_line(a) %></td>
        <td><%= edit_button(a) %> <%= delete_button(a) %></td>
<% end -%>
    </table>
  </div>

  <div class="tab-pane" id="domains">
    <h2>Domains</h2>
    <p>
      <%= add_button(Domain, organisation_id: @organisation) %>
    </p>
    <ul>
<% @organisation.domains.each do |d| -%>
      <li><%= link_to d.name, domain_path(d) %></li>
<% end -%>
    </ul>
  </div>

  <div class="tab-pane" id="databases">
    <h2>Databases</h2>
    <p>
      <%= add_button(Database, organisation_id: @organisation) %>
    </p>
<% unless @organisation.databases.empty? -%>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Host</th>
          <th>Name</th>
          <th>Username</th>
          <th>Password</th>
          <th>Location</th>
        </tr>
      </thead>
<% @organisation.databases.each do |db| -%>
      <tr>
        <td><%= db.host %></td>
        <td><%= db.name %></td>
        <td><%= db.username %></td>
        <td><%= db.password %></td>
        <td><%= db.location %></td>
        <td>
          <%= edit_button(db) %>
          <%= delete_button(db) %>
        </td>
      </tr>
<% end -%>
    </table>
<% end -%>
  </div>

  <div class="tab-pane" id="to-dos">
    <h2>To-do list</h2>

    <p>
      <%= add_button(ToDo, organisation_id: @organisation) %>
    </p>

<% unless @organisation.to_dos.empty? -%>
    <%= render partial: 'to_dos/to_do_list', locals: {to_dos: @organisation.to_dos} %>
<% end -%>
  </div>

  <div class="tab-pane" id="notes">
    <h2>Note Pads</h2>
    <p>
      <%= add_button(NotePad, organisation_id: @organisation) %>
    </p>
<% unless @organisation.note_pads.empty? -%>
    <table class="table table-bordered">
<% @organisation.note_pads.each do |np| -%>
      <tr>
        <td>
          <strong><%= np.title %></strong><br>
          <pre><%= np.content[0..255] %></pre>
        </td>
        <td><%= np.updated_at %></td>
        <td>
          <%= edit_button(np) %>
          <%= delete_button(np) %>
        </td>
      </tr>
<% end -%>
    </table>
<% end -%>
  </div>

  <div class="tab-pane" id="timesheet">
    <h2>Timesheet</h2>

    <script>
    $(function() {
      $('.timesheet th').hide();
      $('.timesheet td').hide();
      $('.timesheet th + th').show();
      $('.timesheet td + td').show();
    });
    </script>

    <% @timesheet_entries = @organisation.timesheet_entries.limit(100) %>
    <%= render 'timesheet_entries/table' %>

    <% @timesheet_entry = TimesheetEntry.new(organisation_id: @organisation.id, user_id: @current_user.id) %>
    <%= render 'timesheet_entries/form' %>

  </div>
</div>
