<h1><%= h @organisation.name %></h1>
<%= flash_notice %>
<h2>Users</h2>
<div class="list">
  <ul>
    <li><%= link_to 'add', new_user_path(:organisation_id => @organisation) %></li>
    <% @organisation.users.each do |u| -%>
    <li><%= link_to h(u.name), user_path(u) %></li>
    <% end -%>
  </ul>
</div>
<h2>Email addresses</h2>

<h2>Contact numbers</h2>

<h2>Addresses</h2>
<div class="list">
  <ul>
    <li><%= link_to 'add', new_address_path(:organisation_id => @organisation) %></li>
    <% @organisation.addresses.each do |a| -%>
    <li><%= link_to h(format_address_single_line(a)), edit_address_path(a) %></li>
    <% end -%>
  </ul>
</div>
<h2>Domains</h2>
<div class="list">
  <ul>
  <li><%= link_to 'add', new_domain_path(:organisation_id => @organisation) %></li>
  <% @organisation.domains.each do |d| -%>
  <li><%= link_to h(d.name), domain_path(d) %></li>
  <% end -%>
  </ul>
</div>

<h2>Databases</h2>

<h2>To-do list</h2>

<h2>Note Pads</h2>
<div class="list">
  <ul>
  <li><%= link_to 'add', new_note_pad_path(:organisation_id => @organisation) %></li>
  <% @organisation.note_pads.each do |np| -%>
  <li><%= link_to h(np.title), edit_note_pad_path(np) %></li>
  <% end -%>
  </ul>
</div>
