<%= page_header(@organisation.name) %>

<p>
  Revenue per hour: <%= number_to_currency(@organisation.revenue_per_hour, unit: '£') %>
  <small>(invoiceable amount/total time over 2yr)</small>
</p>

<p><%= link_to 'I have recently contacted this organisation', contacted_organisation_path, data: { method: 'post' } %></p>

<h2>Users</h2>
<div class="list">
  <ul>
    <li><%= link_to 'Add', new_user_path(organisation_id: @organisation), class: 'btn' %></li>
    <% @organisation.users.each do |u| -%>
    <li><%= link_to u.name, u %></li>
    <% end -%>
  </ul>
</div>
<h2>Email addresses</h2>
<div class="list">
  <ul>
    <li><%= link_to 'Add', new_email_address_path(organisation_id: @organisation), class: 'btn' %></li>
    <% @organisation.email_addresses.each do |a| -%>
    <li><%= mail_to a.address, a.address %></li>
    <% end -%>
  </ul>
</div>

<h2>Contact numbers</h2>

<h2>Addresses</h2>
<div class="list">
  <ul>
    <li><%= link_to 'Add', new_address_path(organisation_id: @organisation), class: 'btn' %></li>
    <% @organisation.addresses.each do |a| -%>
    <li><%= link_to format_address_single_line(a), edit_address_path(a) %></li>
    <% end -%>
  </ul>
</div>
<h2>Domains</h2>
<div class="list">
  <ul>
    <li><%= link_to 'Add', new_domain_path(organisation_id: @organisation), class: 'btn' %></li>
  <% @organisation.domains.each do |d| -%>
  <li><%= link_to d.name, domain_path(d) %></li>
  <% end -%>
  </ul>
</div>

<h2>Databases</h2>

<h2>To-do list</h2>

<h2>Note Pads</h2>
<div class="list">
  <ul>
    <li><%= link_to 'Add', new_note_pad_path(organisation_id: @organisation), class: 'btn' %></li>
  <% @organisation.note_pads.each do |np| -%>
  <li><%= link_to np.title, edit_note_pad_path(np) %></li>
  <% end -%>
  </ul>
</div>
