<div class="page-header">
  <h1>Edit User</h1>
</div>

<% if @user.errors.any? -%>
<div class="alert alert-error fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
<% @user.errors.full_messages.each do |msg| -%>
    <li><%= msg %></li>
<% end -%>
  </ul>
</div>
<% end -%>

<ul class="breadcrumb">
<% if admin? -%>
  <li>
    <%= link_to "Users", users_path %>
    <span class="divider">/</span>
  </li>
<% end -%>
  <li>
    <%= link_to @user.organisation.name, organisation_path(@user.organisation) %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @user.name, @user %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    Edit
  </li>
</ul>

<div class="form"> 
	<%= form_for @user do |form| %>

                 <%= form.label :name %>
		<%= form.text_field :name, :size => 35, :class => "text" %>


		<%= form.label :email %>
		<%= form.text_field :email, :size => 35, :class => "text" %>

<% if admin? %>
	<div>
		Administrator:
		<%= form.radio_button :admin, true, :class => "radio" %>
		<label for="user_admin_true">Yes</label>
		<%= form.radio_button :admin, false, :class => "radio" %>
		<label for="user_admin_false">No</label>
	</div>
<% end %>

	<br><%= submit_tag "Save", :class => "btn btn-primary" %>
	<%= link_to "Cancel", user_path(@user), :class => 'btn' %>
	<% end %>

</div> 
