<div class="page-header">
  <h1>People</h1>
</div>

<%= alpha_links.html_safe %>

  <% last_c = '' %>
  <% @users.each do |u| %>
    <% this_c = u.name[0...1].downcase %>
    <% if this_c != last_c %>
      <% if last_c != '' %>
        </table>
      <% end %>
    	<% last_c = this_c %>

    	<a name="alphanum<%= this_c %>"></a></li>
    	<h2><%= this_c.upcase %></h2>
    	<table class="table table-bordered">
    <% end %>
    <tr>
      <td><%= link_to u.name, u %></td>
      <td><%= mail_to u.email, u.email %></td>
      <td><%= link_to u.organisation.name, u.organisation %></td>
    </tr>
  <% end %>
  </table>
