<% if admin? -%>
<p style="float: right;">
<%= edit_button(@user) %>
<%= delete_button(@user) %>
</p>
<% end %>

<%= page_header(@user.name) %>

<ul class="breadcrumb">
<% if admin? -%>
  <li>
    <%= link_to "Users", users_path %>
    <span class="divider">/</span>
  </li>
<% end -%>
  <li>
    <%= link_to @user.organisation.name, organisation_path(@user.organisation) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= @user.name %>
  </li>
</ul>

<table class="table">
  <tr><th>Name</th><td><%= @user.name %></td></tr>
  <tr><th>Organisation</th><td><%= link_to @user.organisation.name, organisation_path(@user.organisation) %></td></tr>
  <tr><th>Login email address</th><td><%= mail_to @user.email %></td></tr>
  <tr>
    <th>Numbers</th>
    <td>
<% @user.numbers.each do |n| -%>
      <%= mini_edit_button(n) %> <%= mini_delete_button(n) %>
      <%= n.teltype %>: <%= n.number %><br>
<% end -%>
    </td>
  </tr>
  <tr>
    <th>Email addresses</th>
    <td>
<% @user.email_addresses.each do |e| -%>
      <%= mini_edit_button(e) %> <%= mini_delete_button(e) %>
      <%= mail_to(e.address) %><br>
<% end -%>
    </td>
  </tr>
</table>

<h2>Timesheet</h2>

<script>
$(function() {
  $('.timesheet th + th + th + th + th + th').hide();
  $('.timesheet td + td + td + td + td + td').hide();
});
</script>

<% @timesheet_entries = @user.timesheet_entries.limit(100) %>
<%= render 'timesheet_entries/table' %>
