<% if admin? -%>
<p style="float: right;">
<%= edit_button(@user) %>
<%= delete_button(@user) %>
</p>
<% end %>

<%= page_header(@user.name) %>

<ul class="breadcrumb">
<% if admin? -%>
  <li>
    <%= link_to "Users", users_path %>
    <span class="divider">/</span>
  </li>
<% end -%>
  <li>
    <%= link_to @user.organisation.name, organisation_path(@user.organisation) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= @user.name %>
  </li>
</ul>

<%= flash_notice %>

<div class="row">
  <div class="span6">
    <p>
      <%= gravatar(@user.email) %>
      <a href="http://en.gravatar.com/" class="btn btn-mini">Change my picture</a>
    </p>
  </div>
  <div class="span6">
    <table class="table">
      <tr><th>Name</th><td><%= @user.name %></td></tr>
      <tr><th>Organisation</th><td><%= link_to @user.organisation.name, organisation_path(@user.organisation) %></td></tr>
      <tr><th>Login email address</th><td><%= mail_to @user.email %></td></tr>
    </table>
  </div>
</div>
