<%= page_header(@user.name) %>

<% if admin? -%>
<p>
<%= edit_button(@user) %>
<%= delete_button(@user) %>
</p>
<% end %>

<ul class="breadcrumb">
<% if admin? -%>
  <li>
    <%= link_to "Users", users_path %>
  </li>
<% end -%>
  <li>
    <%= link_to @user.organisation.name, organisation_path(@user.organisation) %>
  </li>
  <li class="active">
    <%= @user.name %>
  </li>
</ul>

<table class="table">
  <tr><th>Name</th><td><%= @user.name %></td></tr>
  <tr><th>Organisation</th><td><%= link_to @user.organisation.name, organisation_path(@user.organisation) %></td></tr>
  <tr><th>Login email address</th><td><%= mail_to @user.email %></td></tr>
  <tr>
    <th>
      <%= mini_add_icon_button(Number, user_id: @user.id) %>
      Numbers
    </th>
    <td>
<% @user.numbers.each do |n| -%>
      <%= mini_edit_button(n) %> <%= mini_delete_button(n) %>
      <%= n.teltype %>: <%= n.number %><br>
<% end -%>
    </td>
  </tr>
  <tr>
    <th>
      <%= mini_add_icon_button(EmailAddress, user_id: @user.id) %>
      Email addresses
    </th>
    <td>
<% @user.email_addresses.each do |e| -%>
      <%= mini_edit_button(e) %> <%= mini_delete_button(e) %>
      <%= mail_to(e.address) %><br>
<% end -%>
    </td>
  </tr>
</table>

<% if @user.staff? %>

<h2>Timesheet</h2>

<script>
function filterTimesheet() {
  $('.timesheet th + th + th + th + th + th').hide();
  $('.timesheet td + td + td + td + td + td').hide();
  $('.timesheet th + th + th + th + th + th + th').show();
  $('.timesheet td + td + td + td + td + td + td').show();
}

$(function() {
  filterTimesheet();
});
</script>

<% @timesheet_entries = @user.timesheet_entries.limit(100) %>
<%= render 'timesheet_entries/table' %>

<% end %>
