<%= page_header('Your e Solutions') %>

<% if @backups_pending > 0 -%>
<p>
  <%= @backups_pending %> backups pending &#8212;
  <%= link_to 'View Backups', backups_hosting_accounts_path %>
</p>
<% end -%>

<% if @contacts > 0 -%>
<p>
  <%= @contacts %> organisations to keep in touch with &#8212;
  <%= link_to 'View Contacts', contacts_organisations_path %>
</p>
<% end -%>

<div class="btn-group">
  <%= link_to 'Webpanel Logins', webpanel_logins_path, class: 'btn' %>
  <%= link_to 'Backups', backups_hosting_accounts_path, class: 'btn' %>
  <%= link_to 'Passwords', passwords_path, class: 'btn' %>
  <%= link_to 'Webnames', 'http://webnames2.com/', class: 'btn' %>
  <%= link_to 'Plesk 1', 'https://84.18.198.72:8443/', class: 'btn' %>
  <%= link_to 'Gandi', 'http://www.gandi.net/', class: 'btn' %>
</div>
<h2>Mahesh&#8217;s Links</h2>
<ul>
  <li><a href="http://concepts4.sitesinprogress.co.uk/various-concepts/aprjun12.html">Mahesh's Apr-Jun '12 Concepts</a></li>
</ul>
<h2>Omkar&#8217;s Links</h2>
<div class="btn-toolbar">
  <div class="btn-group">
    <a href="http://concepts4.sitesinprogress.co.uk/various-concepts/janmar12.html" class="btn">Jan-Mar &#8219;12</a>
  </div>
  <div class="btn-group">
    <a href="http://concepts4.sitesinprogress.co.uk/various-concepts/octdec11.html" class="btn">Oct-Dec &#8219;11</a>
    <a href="http://concepts4.sitesinprogress.co.uk/various-concepts/jlyspt11.html" class="btn">Jul-Sep &#8219;11</a>
    <a href="http://concepts4.sitesinprogress.co.uk/various-concepts/aprjun11.html" class="btn">Apr-Jun &#8219;11</a>
    <a href="http://concepts4.sitesinprogress.co.uk/various-concepts/janmar11.html" class="btn">Jan-Mar &#8219;11</a>
  </div>
  <div class="btn-group">
    <a href="http://concepts3.sitesinprogress.co.uk/various-concepts/octdec10.html" class="btn">Oct-Dec &#8219;10</a>
    <a href="http://concepts3.sitesinprogress.co.uk/various-concepts/jlyspt10.htm" class="btn">Jul-Sep &#8219;10</a>
    <a href="http://concepts3.sitesinprogress.co.uk/various-concepts/aprjune10.htm" class="btn">Apr-Jun &#8219;10</a>
    <a href="http://concepts3.sitesinprogress.co.uk/various-concepts/janmar10.htm" class="btn">Jan-Mar &#8219;10</a>
  </div>
  <div class="btn-group">
    <a href="http://concepts2.sitesinprogress.co.uk/various-concepts/octdec09.htm"
    class="btn">Oct-Dec &#8219;09</a>
    <a href="http://concepts2.sitesinprogress.co.uk/various-concepts/jlysept09.htm"
    class="btn">Juy-Sep &#8219;09</a>
    <a href="http://concepts.sitesinprogress.co.uk/various-concepts/janjune09.htm"
    class="btn">Jan-Jun &#8219;09</a>
  </div>
  <div class="btn-group">
    <a href="http://concepts.sitesinprogress.co.uk/various-concepts/juldec08.htm"
    class="btn">Jul-Dec &#8219;08</a>
    <a href="http://concepts.sitesinprogress.co.uk/various-concepts/janjune08.htm"
    class="btn">Jan-Jun &#8219;08</a>
  </div>
  <div class="btn-group">
    <a href="http://concepts.sitesinprogress.co.uk/various-concepts/juldec07.htm"
    class="btn">Jul-Dec &#8219;07</a>
    <a href="http://concepts.sitesinprogress.co.uk/various-concepts/janjune07.htm"
    class="btn">Jan-Jun &#8219;07</a>
  </div>
  <div class="btn-group">
    <a href="http://concepts.sitesinprogress.co.uk/various-concepts/jlydec06.htm"
    class="btn">Jul-Dec &#8219;06</a>
  </div>
</div>
<h2>Priya&#8217;s Links</h2>
<ul>
  <li><a href="http://concepts3.sitesinprogress.co.uk/priya10/update.htm">Priya's Concepts3 2010</a></li>
  <li><a href="http://concepts2.sitesinprogress.co.uk/priya-2009/update.htm">Priya's Concepts2 2009</a></li>
  <li><a href="http://concepts.sitesinprogress.co.uk/various-concepts/priya2009/update.htm">Priya's Concepts to Jun '09</a></li>
  <li><a href="http://concepts.sitesinprogress.co.uk/various-concepts/priya2008/update.htm">Priya's 2008 Concepts</a></li>
  <li><a href="http://concepts.sitesinprogress.co.uk/various-concepts/priya/update.htm">Priya's Concepts to Jan '08</a></li>
  <li><a href="http://concepts.sitesinprogress.co.uk/various-concepts/priya/">Priya's Old Concepts</a></li>
</ul>
<h2>Other Links</h2>
<ul>
  <li><a href="http://antb.sitesinprogress.co.uk/">Ant&#8217;s SIP</a></li>
  <li><a href="http://robm.sitesinprogress.co.uk/">Rob&#8217;s SIP</a></li>
  <li><a href="http://ianf.sitesinprogress.co.uk/">Ian&#8217;s SIP</a></li>
  <li><a href="http://concepts4.sitesinprogress.co.uk/various-concepts/jack.html">Jack&#8217;s SIP</a></li>
  <li><a href="http://concepts.sitesinprogress.co.uk/SMWork/">Steve&#8217;s SIP</a></li>
</ul>