<% if @domain.errors.any? -%>
<div class="alert alert-error fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

  <ul>
<% @domain.errors.full_messages.each do |msg| -%>
    <li><%= msg %></li>
<% end -%>
  </ul>
</div>
<% end -%>

<%= form_for @domain do |form| %>
	<%= form.label :name %>
	<%= form.text_field :name %>

	<%= form.label :organisation %>
  <%= form.collection_select :organisation_id, Organisation.all(:order => :name), :id, :name %>

	<%= form.label :registered_on %>
	<%= form.date_select :registered_on, :order => [:day, :month, :year] %>

	<label for="domain_with_us_true">With us?</label>
	<%= form.radio_button :with_us, true, :class => "radio" %> 
	<label for="domain_with_us_true">Yes</label> 
	<%= form.radio_button :with_us, false, :class => "radio" %> 
	<label for="domain_with_us">No</label> 

  <%= form.label :forwarding, 'Forwards to' %>
  <%= form.collection_select :forwarding_id, @domain.organisation.domains, :id, :name, {:prompt => 'No forwarding'} %>

  <br><%= form.submit class: 'btn btn-primary' %>
<% end %>
