<% cache cache_key_for_domains do -%>
<div class="page-header">
  <h1>Domains</h1>
</div>

<%= alpha_links.html_safe %>

<div id="domains">
<% last_c = '' %>
<% @domains.each do |d| %>
  <% this_c = d.name[0...1].downcase %>
  <% if this_c != last_c %>
    <% if last_c != '' %>
      </ul>
    <% end %>
  	<% last_c = this_c %>

  	<a name="alphanum<%= this_c %>"></a></li>
  	<h2><%= this_c.upcase %> <a href="#top" class="top">&#8593;</a></h2>
  	<ul>
  <% end %>
  <li>
    <%= link_to d.name, d %>
    <% d.hosting_accounts.each do |ha| %>
    [<%= link_to ha.host_name, ha %>]
    <% end %>
  </li>
<% end %>
</ul>
</div>
<% end -%>
