<h1><%= link_to h(@domain.organisation.name), organisation_path(@domain.organisation) %>
  &rarr; <%= link_to h(@domain.name), domain_path(@domain) %>
  &rarr; nslookup</h1>
<p><%= link_to 'Back', domain_path(@domain), :class => 'button' %></p>
<table>
  <tr><th><%= h(@domain.name) %></th><td><%= h(`nslookup #{@domain.name}`.strip).gsub(/\n/, '<br />') %></td></tr>
  <tr><th>www.<%= h(@domain.name) %></th><td><%= h(`nslookup www.#{@domain.name}`.strip).gsub(/\n/, '<br />') %></td></tr>
  <tr><th>mail.<%= h(@domain.name) %></th><td><%= h(`nslookup mail.#{@domain.name}`.strip).gsub(/\n/, '<br />') %></td></tr>
  <tr><th>ftp.<%= h(@domain.name) %></th><td><%= h(`nslookup ftp.#{@domain.name}`.strip).gsub(/\n/, '<br />') %></td></tr>
  <tr><th>MX <%= h(@domain.name) %></th><td><%= h(`nslookup -query=mx #{@domain.name}`.strip).gsub(/\n/, '<br />') %></td></tr>
</table>
