<div class="page-header">
  <h1>nslookup <%= @domain.name %></h1>
</div>

<ul class="breadcrumb">
  <li>
    <%= link_to @domain.organisation.name, organisation_path(@domain.organisation) %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @domain.name, domain_path(@domain) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    nslookup
  </li>
</ul>

<p>
  <%= link_to 'Back', domain_path(@domain), class: 'btn' %>
</p>

<table>
  <tr>
    <th><%= @domain.name %></th>
    <td>
      <pre><%= `nslookup #{@domain.name}`.strip %></pre>
    </td>
  </tr>
  <tr>
    <th>www.<%= @domain.name %></th>
    <td>
      <pre><%= `nslookup www.#{@domain.name}`.strip %></pre>
    </td>
  </tr>
  <tr>
    <th>mail.<%= @domain.name %></th>
    <td>
      <pre><%= `nslookup mail.#{@domain.name}`.strip %></pre>
    </td>
  </tr>
  <tr>
    <th>ftp.<%= @domain.name %></th>
    <td>
      <pre><%= `nslookup ftp.#{@domain.name}`.strip %></pre>
    </td>
  </tr>
  <tr>
    <th>MX <%= @domain.name %></th>
    <td>
      <pre><%= `nslookup -query=mx #{@domain.name}`.strip %></pre>
    </td>
  </tr>
</table>
