<div class="page-header">
  <h1><%= @domain.name %></h1>
</div>

<ul class="breadcrumb">
  <li>
    <%= link_to @domain.organisation.name, organisation_path(@domain.organisation) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= @domain.name %>
  </li>
</ul>

<p class="btn-group">
  <%= edit_button(@domain) %>
  <%= link_to 'WHOIS', {:action => :whois, :id => @domain}, :class => 'btn' %>
  <%= link_to 'nslookup', {:action => :nslookup, :id => @domain}, :class => 'btn' %>
  <%= delete_button(@domain) %>
</p>

<div class="row">
  <div class="span6">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Name</th>
        <td><%= @domain.name %></td>
      </tr>
      <tr>
        <th>Forwarding</th>
        <td><%= @domain.forwarding ? link_to(@domain.forwarding.name, domain_path(@domain.forwarding)) : a_cross %></td>
      </tr>
      <tr>
        <th>Registered on</th>
        <td><%= format_date(@domain.registered_on) %></td>
      </tr>
      <tr>
        <th>With us?</th>
        <td><%= tick_cross(@domain.with_us?) %></td>
      </tr>
    </table>
  </div>
  <div class="span6">
    <h2>Hosting accounts</h2>
    <p>
      <%= add_button(HostingAccount, domain_id: @domain.id) %>
    </p>
<% unless @domain.hosting_accounts.empty? -%>
    <table class="table table-bordered">
<% @domain.hosting_accounts.each do |a| -%>
      <tr>
        <td><%= link_to a.host_name + ' on ' + a.ftp_host, hosting_account_path(a) %></td>
      </tr>
<% end -%>
    </table>
<% end -%>
  </div>
</div>
