<div class="page-header">
  <h1><%= @domain.name %></h1>
</div>

<ul class="breadcrumb">
  <li>
    <%= link_to @domain.organisation.name, organisation_path(@domain.organisation) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= @domain.name %>
  </li>
</ul>

<%= flash_notice %>
<div class="btn-group">
  <%= edit_button(@domain) %>
  <%= link_to 'WHOIS', {:action => :whois, :id => @domain}, :class => 'btn' %>
  <%= link_to 'nslookup', {:action => :nslookup, :id => @domain}, :class => 'btn' %>
  <%= delete_button(@domain) %>
</div>
<br>
<div class="row">
  <div class="span6">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Name</th>
        <td><%= @domain.name %></td>
      </tr>
      <tr>
        <th>Forwarding</th>
        <td><%= @domain.forwarding ? link_to(@domain.forwarding.name, domain_path(@domain.forwarding)) : a_cross %></td>
      </tr>
      <tr>
        <th>Registered on</th>
        <td><%= format_date(@domain.registered_on) %></td>
      </tr>
      <tr>
        <th>With us?</th>
        <td><%= tick_cross(@domain.with_us?) %></td>
      </tr>
    </table>
  </div>
  <div class="span6">
    <h2>Hosting accounts</h2>
    <div class="list">
      <ul>
        <li><%= link_to 'Add', new_hosting_account_path(:domain_id => @domain.id), class: 'btn' %></li>
        <% @domain.hosting_accounts.each do |a| -%>
        <li><%= link_to a.host_name + ' on ' + a.ftp_host, hosting_account_path(a) %></li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>
