<%= form.hidden_field :organisation_id %>
<div>
  <%= form.label :title %>:<br />
  <%= form.text_field :title %>
</div>
<div>
  <%= form.label :content %>:<br />
  <%= form.text_area :content %>
</div>
