<%= page_header('Edit Note Pad') %>

<ul class="breadcrumb">
  <li>
    <%= link_to @note_pad.organisation.name, @note_pad.organisation %>
  </li>
  <li>
    <span class="divider">/</span>
  </li>
  <li class="active">
    Edit Note Pad
  </li>
</ul>

<p>
  <em>Last updated: <%= @note_pad.updated_at %></em>
</p>

<%= render'form' %>

<%= button_to "Delete", @note_pad, method: :delete, class: 'btn btn-danger' %>
