<div>
	<%= form.label :organisation %>:<br />
  <%= form.collection_select :organisation_id, Organisation.all(:order => :name), :id, :name %>
</div>
<div>
	<%= form.label :address_line_1 %>:<br />
	<%= form.text_field :address_line_1 %>
</div>
<div>
	<%= form.label :address_line_2 %>:<br />
	<%= form.text_field :address_line_2 %>
</div>
<div>
	<%= form.label :town_city, 'Town/city' %>:<br />
	<%= form.text_field :town_city %>
</div>
<div>
	<%= form.label :county %>:<br />
	<%= form.text_field :county %>
</div>
<div>
	<%= form.label :postcode %>:<br />
	<%= form.text_field :postcode %>
</div>
