<% if @database.errors.any? -%>
<div class="alert alert-error fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h2><%= pluralize(@database.errors.count, "error") %> prohibited this database from being saved:</h2>

  <ul>
<% @database.errors.full_messages.each do |msg| -%>
    <li><%= msg %></li>
<% end -%>
  </ul>
</div>
<% end -%>

<%= form_for @database do |form| %>
<%= form.hidden_field :organisation_id %>

  <%= form.label :host %>
  <%= form.text_field :host %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :password %>
  <%= form.text_field :password %>

  <%= form.label :location %>
  <%= form.text_field :location %>

  <br><%= form.submit class: 'btn btn-primary' %>
<% end %>
