<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Your e Solutions Client Centre</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="shortcut icon" href="/favicon.ico">
  <script src="/bootstrap/js/bootstrap.js"></script>
  <%= csrf_meta_tags %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body id="top">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">YESL DB</a>
<% if admin? -%>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li<%= ' class="active"'.html_safe if current_page?(organisations_path) %>><%= link_to 'Organisations', organisations_path %></li>
          <li<%= ' class="active"'.html_safe if current_page?(domains_path) %>><%= link_to 'Domains', domains_path %></li>
          <li<%= ' class="active"'.html_safe if current_page?(timesheet_entries_path) %>><%= link_to 'Timesheet', timesheet_entries_path %></li>
          <li<%= ' class="active"'.html_safe if current_page?(users_path) %>><%= link_to 'People', users_path %></li>
          <li<%= ' class="active"'.html_safe if current_page?(to_dos_path) %>><%= link_to 'To-Dos', to_dos_path %></a></li>
          <li<%= ' class="active"'.html_safe if current_page?(links_path) %>><%= link_to 'Links', links_path %></li>
        </ul>
        <div class="pull-right">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-user"></i>
              <%= @current_user.name %>
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Account', @current_user %></li>
              <li><%= link_to 'Sign Out', '/sessions/destroy', data: { method: 'delete' } %></li>
            </ul>
          </li>
        </ul>
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">View Recent <b class="caret"></b></a>
            <ul class="dropdown-menu">
<% Organisation.recently_viewed.each do |o| -%>
              <li>
                <a href="<%= organisation_path(o) %>"><%= o.name %></a>
              </li>
<% end -%>
            </ul>
          </li>
        </ul>
        </div>
      </div>
<% end -%>
    </div><!--.container-->
  </div><!--.navbar-inner-->
</div><!--.navbar-->

<div id="menu-spacer"></div>
<div class="container">
<% if flash[:notice] -%>
<div class="alert alert-info fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <%= flash[:notice] %>
</div>
<% end -%>
<% if flash[:alert] -%>
<div class="alert alert-error fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <%= flash[:alert] %>
</div>
<% end -%>

<%= yield %>
</div>
</body>
</html>
