<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Your e Solutions Client Centre</title>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "screen", :media => "screen" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
</head>
<body id="top"><div id="wrapper">
<ul id="main_menu">
  <li><%= link_to 'Home', :controller => :home %></li>
  <li><%= link_to 'Organisations', :controller => 'organisations', :action => 'index' %></li>
  <li><a href="#">Invoicing</a></li>
  <li><%= link_to 'Domains', :controller => 'domains', :action => 'index' %></li>
  <li><%= link_to 'Timesheet', :controller => 'timesheet_entries', :action => 'index' %></li>
  <li><%= link_to 'People', :controller => 'users', :action => 'index' %></li>
  <li><a href="#">To Do List</a></li>
</ul>

<form id="organisation_selector" onsubmit="return false;">
  <label for="view_recent">View recent:</label>
  <select id="view_recent" name="view_recent" onchange="window.location=this.value">
    <% Organisation.recently_viewed.each do |o| %>
    <option value="<%= organisation_path(o) %>"><%= o.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Go"
    onclick="window.location=document.getElementById('view_recent').value">
</form>

<%= yield %>
</div><!--#wrapper--></body>
</html>