<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Your e Solutions Client Centre</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="shortcut icon" href="/favicon.ico">
  <script src="/bootstrap/js/bootstrap.js"></script>
  <%= csrf_meta_tags %>
</head>
<body id="top">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <% if admin? -%>
        <%= menu_links(
          '<span class="glyphicon glyphicon-home"></span>'.html_safe => [root_path, t('.home')],
          '<span class="glyphicon glyphicon-tower"></span>'.html_safe => [organisations_path, t('.organisations')],
          '<span class="glyphicon glyphicon-cloud"></span>'.html_safe => [domains_path, t('.domains')],
          '<span class="glyphicon glyphicon-time"></span>'.html_safe => [timesheet_entries_path, t('.timesheet')],
          '<span class="glyphicon glyphicon-user"></span>'.html_safe => [users_path, t('.users')],
          '<span class="glyphicon glyphicon-list"></span>'.html_safe => [issues_path, t('.issues')],
          '<span class="glyphicon glyphicon-tags"></span>'.html_safe => [tags_organisations_path, t('.tags')],
        )
        %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Extras
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <%= menu_links(
              t('.links') => [links_path, t('.links')],
              t('.passwords') => [passwords_path, t('.passwords')],
              t('.webpanel_logins') => [webpanel_logins_path, t('.webpanel_logins')]
            )
            %>
          </ul>
        </li>
        <% elsif logged_in? -%>
          <%= menu_links('Home' => [organisation_path(current_user.organisation), 'Home']) %>
        <% end -%>
      </ul>
      <div class="pull-right">
        <% if logged_in? -%>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="glyphicon glyphicon-user"></i>
              <%= @current_user.name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Account', @current_user %></li>
              <li><%= link_to 'Sign Out', '/sessions/destroy', data: { method: 'delete' } %></li>
            </ul>
          </li>
        </ul>
        <% end -%>
        <% if admin? -%>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              View Recent
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
<% Organisation.recently_viewed.each do |o| -%>
              <li>
                <a href="<%= organisation_path(o) %>"><%= o.name %></a>
              </li>
<% end -%>
            </ul>
          </li>
        </ul>
        <% end -%>
      </div>
    </div>
  </div><!--.container-->
</nav><!--.navbar-->

<div id="menu-spacer"></div>
<div class="container">
<% if flash[:notice] -%>
<div class="alert alert-info fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <%= flash[:notice] %>
</div>
<% end -%>
<% if flash[:alert] -%>
<div class="alert alert-error fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <%= flash[:alert] %>
</div>
<% end -%>

<%= yield %>
</div>
</body>
</html>
